body {
  min-height: 100vh;
}

.bg-golden-yellow {
  background-color: #ffde00 !important;
  background-image: linear-gradient(#fbea79, #ffde00 80%, #b3a125);
}

.bg-gold-foil {
  background-color: #b3a125 !important;
  background-image: linear-gradient(#fbea79, #b3a125 10%, #b3a125 90%, #625917);
}

.bg-transparent-25 {
  background-color: rgba(255, 255, 255, 0.75);
}

#current_process_flowchart {
  margin-bottom: 50px;
}

#current_process_image {
  max-width: 50vw;
  margin: auto;
}

.card-size {
  width: 18rem;
  height: 100%; /*Sets standardized height for cards*/
}