body {
    min-height: 100vh;
}

.bg-golden-yellow {
    background-color: #ffde00;
}

.bg-gold-foil {
    background-color: #b3a125;
}

.bg-transparent-25 {
    background-color: rgba(255, 255, 255, 0.75);
}